@font-face {
    font-family: 'Lora', serif;
    src: url('../assets/fonts/Lora-VariableFont_wght.ttf');
}

#sidebarAdmin {
    height: calc(100% - 100px);
}

.sidebarAdmin-text {
    font-family: 'Lora', serif;
}

#myOrdersAdmin {
    height: calc(100vh - 100px);
    width: calc(80% - 4px);
}

#boxOrder {
    height: 25%;
}

#myProducts {
    height: calc(100vh - 100px);
    width: calc(80% - 4px);
}

#myProductsdetail {
    height: calc(73%);
    border-bottom: none;
}